@font-face {
  font-family: "TTNormsPro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Light.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Light.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Light.ttf") format("truetype"); }

@font-face {
  font-family: "TTNormsPro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Regular.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Regular.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TTNormsPro";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Medium.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Medium.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "TTNormsPro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTNormsPro/TTNormsPro-Bold.eot");
  src: url("../fonts/TTNormsPro/TTNormsPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTNormsPro/TTNormsPro-Bold.woff") format("woff"), url("../fonts/TTNormsPro/TTNormsPro-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "TTNormsPro", sans-serif;
  font-weight: normal; }

html, body {
  overflow-x: hidden;
  height: 100%; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TTNormsPro", sans-serif;
  border: none;
    border-radius: 0;
  height: 84px;
  width: 100%;
  background: #fff;
  font-size: 32px;
  font-weight: 500;
  color: #dfbcb0; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #dfbcb0; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #dfbcb0; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #dfbcb0; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #dfbcb0; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

textarea {
  height: 347px;
  padding: 30px 34px; }

label {
  display: block;
  width: 100%;
  margin: 0 0 14px; }

button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  border: none;
  font-family: "TTNormsPro", sans-serif;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-weight: 500;
  height: 84px;
  padding: 0 71px; }

.btn-accent {
  color: #dfbcb0;
  background: #2d2724; }
  .btn-accent:hover {
    background: #000;
    color: #fff; }

.container {
  max-width: 1660px; }

.bg-pink {
  background: #dfbcb0; }

.bg-black {
  background: #000; }

.color-text {
  color: #2d2724; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-accent {
  color: #dfbcb0; }

.color-green {
  color: #2aff00; }

.style-italic {
  font-style: italic; }

.text-decoration {
  text-decoration: underline; }

.text-justify {
  text-align: justify; }

.text-right {
  text-align: right; }

strong {
  font-weight: bold;
  display: inline-block; }

.mb-50 {
  margin-bottom: 50px; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

.wrapper.bg-black .checkbox__text:after {
  background: #000; }

.wrapper.bg-black .checkbox input:checked + .checkbox__text:after {
  background: #000; }

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

h1 {
  font-size: 222px;
  font-weight: bold;
  color: #dfbcb0; }

h2 {
  width: 100%;
  font-size: 88px;
  font-weight: bold; }

.h2-my {
  font-size: 66px; }

h3 {
  font-size: 28px;
  font-weight: bold;
  width: 100%; }

.box-text {
  font-size: 22px;
  font-weight: 500; }
  .box-text p {
    margin: 0 0 45px; }
    .box-text p:last-child {
      margin: 0; }

.checkbox {
  width: 62px;
  height: 25px;
  margin: 0; }
  .checkbox input {
    display: none; }

.checkbox__text {
  position: relative;
  width: 100%;
  height: 25px;
  cursor: pointer;
  display: block;
  border-radius: 13px;
  background: #dfbcb0;
  -webkit-transition: .2s;
  transition: .2s; }
  .checkbox__text:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    right: 4px;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: #868987;
    -webkit-transition: .2s;
    transition: .2s; }

.checkbox input:checked + .checkbox__text:after {
  left: 4px;
  right: auto;
  background: #868987; }

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 28px 0; }
  header .container {
    max-width: none;
    padding: 0 28px; }
  header .col-12 {
    padding: 0 28px; }
  header .row {
    margin: 0 -28px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto; }
  .menu li {
    margin: 0 34px 0 0; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #dfbcb0; }
      .menu li a:hover {
        color: #fff; }
    .menu li .active {
      color: #fff;
      text-decoration: underline; }

.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.list-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
  margin: 0 28px 0 0;
  text-transform: uppercase; }
  .list-language li {
    margin: 0 10px 0 0; }
    .list-language li:last-child {
      margin: 0; }
    .list-language li a {
      color: #dfbcb0; }
      .list-language li a:hover {
        color: #fff; }
    .list-language li .active {
      color: #fff; }

.volume-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.volume-icon {
  margin: 0 8px 0 0; }

main {
  padding: 100px 0 0; }

.home {
  background: url("../img/bg1.jpg") no-repeat center;
    background-size: cover;
  padding: 425px 0 323px; }

.logo {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1189px;
  width: 100%; }

.contacts {
  padding: 55px 0; }
  .contacts .container {
    max-width: 1800px; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 93px 0 0; }
  .list-social li {
    margin: 0 29px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.list-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 0 auto; }
  .list-partners li {
    margin: 0 70px 0 0; }
    .list-partners li:last-child {
      margin: 0; }
    .list-partners li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

.contacts-box {
  margin: 0 67px 0 0;
  font-size: 22px;
  font-weight: bold; }
  .contacts-box a {
    color: #2d2724; }

.schedule li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .schedule li p {
    min-width: 48px;
    margin: 0 22px 0 0; }

.address {
  max-width: 153px;
  width: 100%; }

.about {
  padding: 145px 0; }
  .about h2 {
    margin: 0 0 137px; }
  .about .box-text {
    max-width: 664px; }
    .about .box-text strong {
      margin: 0 0 45px; }

.about-box .box-text {
  max-width: 810px; }

.authors {
  padding: 130px 0; }

.video-box {
  position: relative;
  margin: 0 auto 65px;
  max-width: 974px;
  width: 100%;
  height: 515px;
  background: #585858; }

.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 74px;
  height: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.authors-box {
  margin: 0 auto;
  max-width: 960px;
  width: 100%; }
  .authors-box h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 40px; }

.list-authors {
  font-size: 28px;
  font-weight: 500; }
  .list-authors span {
    font-weight: bold;
    display: inline; }
  .list-authors p {
    display: inline;
    color: #fff; }

.programs {
  padding: 130px 0 200px; }
  .programs h2 {
    margin: 0 0 109px; }

.programs-box {
  max-width: 360px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .programs-box__footer {
    margin: auto 0 0; }
  .programs-box h3 {
    font-size: 40px;
    font-weight: bold; }

.programs-box__date {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px; }

.programs-box__time {
  font-weight: 500; }

.programs-box__head {
  min-height: 245px;
  margin: 0 0 30px; }

.programs-box__footer {
  margin: auto 0 0; }

.programs-box__body {
  margin: auto 0 28px; }

.mark-text {
  font-size: 16px;
  font-weight: 500; }

.links {
  font-size: 28px;
  font-weight: bold;
  margin: 30px 0 0; }

a.color-white:hover {
  color: #dfbcb0; }

footer {
  padding: 69px 0; }
  footer .list-social {
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.main-text {
  max-width: 461px;
  width: 100%;
  color: #dfbcb0;
  letter-spacing: -0.48px;
  font-style: italic;
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 176px auto;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.home-main {
  padding: 137px 0 304px;
  background: url("../img/bg2.jpg") no-repeat center;
    background-size: cover; }

.logo-header {
  max-width: 299px; }

.header {
  position: relative;
  left: 0;
  top: 0;
  padding: 26px 0; }
  .header .header-box {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: none;
            transform: none; }

.image-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-group .image-item {
    margin: 0 10px 0 0; }
    .image-group .image-item:last-child {
      margin: 0; }
  .image-group .image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .image-group .image img {
      width: 100%; }

.photo-caption {
  margin: 13px 0 0;
  font-size: 20px;
  width: 100%;
  font-weight: normal; }
  .photo-caption h3 {
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 10px; }

.sasts-home {
  padding: 125px 0 200px; }

.sasts-home__content {
  position: relative;
  z-index: 1; }

.sasts-home__img {
  position: absolute;
  bottom: -40px;
  right: 95px;
  z-index: -1; }

.container-my .container {
  max-width: 1570px; }

.callback {
  padding: 170px 0 180px; }
  .callback .box-text {
    max-width: 453px;
    width: 100%;
    margin: 34px 0 0; }

.mail-author {
  margin: 44px 0 0;
  color: #2d2724;
  font-size: 32px;
  font-weight: bold; }

.form {
  max-width: 786px;
  width: 100%;
  margin: 0 0 0 auto; }

.image-center {
  margin: 0 auto 35px; }

.happy {
  padding: 240px 0; }
  .happy h2 {
    margin: 0 0 242px;
    font-size: 154px; }

.quote {
  padding: 100px 0; }
  .quote .container {
    max-width: 1150px; }
  .quote h3 {
    font-size: 40px; }
  .quote .box-text {
    font-size: 24px; }
    .quote .box-text p {
      margin: 0 0 27px; }

.authors-photo {
  padding: 150px 0; }

.authors-photo-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  padding: 0 0 0 30px; }

.authors-photo__content {
  max-width: 550px;
  width: 100%;
  padding: 10px 0 0; }
  .authors-photo__content .box-text {
    font-size: 28px; }
  .authors-photo__content h3 {
    font-size: 44px;
    font-weight: bold;
    font-style: italic;
    color: #dfbcb0; }

.authors-photo__image {
  max-width: 638px;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1; }

.name-photo {
  background: #dfbcb0;
  padding: 2px 5px;
  color: #000;
  font-style: italic;
  font-size: 28px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0 60px; }

.authors-photo-two .authors-photo__image {
  max-width: 350px;
  position: relative;
  right: auto;
  bottom: auto;
  margin: 60px 0 0; }

.authors-photo-two .authors-photo__content {
  margin: 0 0 0 117px;
  max-width: 660px;
  padding: 0; }

.starts {
  padding: 80px 0 130px; }
  .starts h2 {
    font-size: 154px; }

.images-section {
  padding: 170px 0; }

.images-section-two .image-item {
  margin: 0;
  max-width: 544px; }

.video-section {
  padding: 100px 0 170px; }

.video-wrapper {
  position: relative;
  max-width: 997px;
  width: 100%;
  height: 559px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 30px; }
  .video-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.video-section__content {
  margin: 0 0 0 auto; }
  .video-section__content .box-text {
    font-size: 24px;
    margin: 0 0 128px; }
    .video-section__content .box-text p {
      margin: 0; }
    .video-section__content .box-text h3 {
      font-size: 40px;
      font-weight: bold;
      color: #dfbcb0; }

.authors-photo-three .authors-photo__image {
  max-width: 779px;
  position: relative;
  margin: 0 0 0 -50px; }

.authors-photo-three .authors-photo-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.authors-photo-three .authors-photo__content {
  max-width: 430px; }

.video-fluid {
  padding: 160px 0; }

.video-fluid__title {
  padding: 0 36px 30px;
  font-size: 24px; }

.video-fluid__box {
  width: 100%; }
  .video-fluid__box video {
    width: 100%; }

.authors-photo-four .authors-photo__image {
  max-width: 786px;
  margin: 0 0 0 84px; }

.authors-photo-four .authors-photo__content {
  max-width: 572px; }

.quote-two h3 {
  margin: 0 0 54px; }

.authors-photo-five .authors-photo-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.authors-photo-five .authors-photo__content {
  max-width: 684px; }

.authors-photo-five .authors-photo__image {
  margin: 0;
  max-width: 473px; }

.authors-photo-sex .authors-photo__image {
  max-width: 686px; }

.new-section {
  padding: 250px 0 130px; }
  .new-section h2 {
    font-size: 154px;
    font-weight: bold; }
  .new-section__content {
    position: relative;
    z-index: 1; }
  .new-section__img {
    max-width: 492px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    z-index: -1;
    right: 0;
    top: -130px; }

.quote-three.container-my-two .container {
  max-width: 1320px; }

.quote-three.container-my-two h3 {
  margin: 0 0 40px; }

.episodes {
  padding: 130px 0; }
  .episodes h2 {
    color: #dfbcb0;
    max-width: 1200px; }

.container-my-two .container {
  max-width: 1320px; }

.video-section-two {
  padding: 110px 0; }
  .video-section-two .video-wrapper {
    margin: 0; }

.video-episodes {
  max-width: 974px;
  width: 100%; }

.video-episodes__content {
  margin: 34px 0 0;
  font-size: 24px; }
  .video-episodes__content h3 {
    font-size: 28px;
    font-weight: bold; }
  .video-episodes__content .box-text {
    margin: 30px 0 0;
    line-height: 1.25;
    font-size: 24px;
    font-weight: normal; }
    .video-episodes__content .box-text strong {
      font-weight: bold; }

.video-episodes-menu {
  max-width: 220px;
  margin: auto -200px 30px auto; }

.video-episodes-menu__box {
  margin: 0 0 70px; }
  .video-episodes-menu__box h4 {
    text-decoration: underline;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 30px; }

.episodes-menu {
  font-size: 26px;
  font-weight: bold; }
  .episodes-menu li {
    margin: 0 0 10px; }
    .episodes-menu li:last-child {
      margin: 0; }
    .episodes-menu li a {
      color: #fff; }
    .episodes-menu li .active {
      color: #dfbcb0; }

.links-menu {
  font-size: 18px;
  font-weight: 300; }
  .links-menu:hover {
    color: #dfbcb0; }

.links-menu__icon {
  font-size: 30px; }

.video-section-three .video-episodes {
  margin: 0 auto; }

.video-section-four h2 {
  text-align: right;
  max-width: 950px;
  margin: 0 0 240px auto;
  color: #dfbcb0; }

.podkasts {
  padding: 130px 0 230px; }
  .podkasts .subtitle {
    font-size: 44px;
    color: #dfbcb0;
    font-weight: bold; }
  .podkasts .box-text {
    margin: 87px 0 274px;
    max-width: 857px;
    width: 100%;
    font-size: 24px; }

.links-all {
  margin: 150px auto 0;
  text-align: center;
  display: block;
  font-size: 28px;
  font-weight: bold; }

.audio-box {
  margin: 0 auto 54px;
  max-width: 1022px;
  width: 100%; }

.wrapper-lid .menu li a {
  color: #fff; }

.wrapper-lid .menu li .active {
  color: #fff; }

.wrapper-lid .header-box {
  position: relative;
  top: 0;
  right: 0;
  -webkit-transform: none;
          transform: none; }

.wrapper-lid .list-language li a {
  color: #fff; }

.wrapper-lid .list-language li .active {
  color: #000; }

.wrapper-lid .volume-icon {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1); }

.wrapper-lid .checkbox__text {
  background: #fff; }

.wrapper-lid .checkbox__text:after {
  background: #dfbcb0; }

.wrapper-lid .checkbox input:checked + .checkbox__text:after {
  background: #dfbcb0; }

.wrapper-lid .subtitle {
  margin: 0 0 44px;
  font-size: 31px;
  font-weight: bold; }

.wrapper-lid .box-text {
  font-size: 14px;
  font-weight: normal; }
  .wrapper-lid .box-text h4 {
    margin: 22px 0 0;
    font-size: 31px;
    font-weight: bold; }

.wrapper-lid h2 {
  margin: 0; }

.kruts {
  padding: 295px 0 208px; }

.kruts-text {
  font-size: 22px;
  margin: 0 0 42px;
  font-weight: 500; }
  .kruts-text strong {
    display: inline;
    font-size: 31px;
    font-weight: bold; }

.kruts-box {
  font-size: 22px;
  margin: 0 0 30px;
  font-weight: 500; }
  .kruts-box__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 60px;
    height: 99px; }
    .kruts-box__icon img {
      max-height: 100%; }

.pasarga .kruts-text p {
  margin: 0 0 30px; }
  .pasarga .kruts-text p:last-child {
    margin: 0; }

.pasarga-video {
  margin: 40px 0 50px auto;
  max-width: 808px;
  width: 100%; }
  .pasarga-video .box-text {
    font-size: 22px; }
    .pasarga-video .box-text p {
      margin: 0 0 10px; }

.ziedojumi {
  padding: 200px 0 130px; }
  .ziedojumi .kruts-text {
    margin: 50px 0 35px;
    font-size: 22px;
    font-weight: 500; }

.ziedojumi-box {
  font-size: 22px;
  font-weight: 500;
  max-width: 670px;
  width: 100%;
  margin: 0 0 -50px; }
  .ziedojumi-box:nth-child(even) {
    margin: 0 0 0 auto; }
    .ziedojumi-box:nth-child(even) .ziedojumi-box__icon {
      margin: 0 auto 23px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .ziedojumi-box h4 {
    font-size: 31px;
    font-weight: bold;
    margin: 0 0 25px; }
  .ziedojumi-box__icon {
    margin: 0 0 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1780px) {
  .contacts-box, .list-partners li {
    margin: 0 30px 0 0; }
  .video-episodes-menu {
    margin: 0 0 0 auto; }
  .video-episodes {
    max-width: 850px; } }

@media only screen and (max-width: 1540px) {
  .list-social {
    margin: 0 30px 0 0; }
  .video-wrapper {
    max-width: 800px;
    margin: 0; }
  .video-fluid__box {
    height: auto; }
  .authors-photo-sex .authors-photo__image {
    max-width: 600px; } }

@media only screen and (max-width: 1480px) {
  .contacts-box {
    font-size: 16px; }
  .contacts {
    padding: 30px 0; }
  h1 {
    font-size: 180px; }
  .authors-photo-two .authors-photo__content {
    margin: 0 0 0 30px;
    max-width: 550px; }
  .authors-photo-three .authors-photo__image {
    max-width: 550px; } }

@media only screen and (max-width: 1350px) {
  .list-partners li {
    max-width: 60px; }
  .contacts-box {
    margin: 0 20px 0 0; }
  .video-box {
    margin: 0 auto 40px; }
  .authors-box {
    margin: 0 auto; }
  h1 {
    font-size: 150px; }
  .authors-photo-four .authors-photo__image {
    max-width: 450px; }
  .new-section h2 {
    font-size: 100px; }
  .authors-photo-sex .authors-photo__image {
    max-width: 500px; }
  .happy {
    padding: 140px 0; } }

@media only screen and (max-width: 1200px) {
  .menu, .list-language {
    font-size: 22px; }
  .list-partners {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 20px 0 0; }
  .contacts-box {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .list-social {
    margin: 0 0 0 auto; }
  .about {
    padding: 80px 0; }
  h2 {
    font-size: 60px; }
  .sasts-home {
    padding: 80px 0 120px; }
  .logo-header {
    max-width: 200px; }
  .video-wrapper {
    max-width: 600px; }
  .authors-photo-four .authors-photo__image {
    margin: 30px auto 0; }
  .authors-photo-four .authors-photo__content, .authors-photo-five .authors-photo__content {
    max-width: none; }
  .authors-photo-five .authors-photo__content {
    margin: 30px auto 0; }
  .authors-photo-five .authors-photo__image {
    margin: 0 auto; }
  .new-section, .callback {
    padding: 100px 0; }
  .episodes {
    padding: 60px 0; }
  .video-episodes {
    max-width: 650px; } }

@media only screen and (max-width: 1100px) {
  .image-group .image-item {
    margin: 0 0 10px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-box {
    position: relative;
    right: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 0 10px; }
  header {
    padding: 20px 0; }
  .menu, .list-language {
    font-size: 18px; }
  .home {
    padding: 280px 0; }
  .box-text {
    font-size: 18px; }
    .box-text p {
      margin: 0 0 30px; }
  h2 {
    font-size: 40px; }
  .about {
    padding: 60px 0; }
    .about .box-text {
      margin: 0 0 30px;
      max-width: none; }
      .about .box-text strong {
        margin: 0 0 30px; }
    .about h2 {
      margin: 0 0 50px; }
  .authors {
    padding: 80px 0; }
  .list-authors {
    font-size: 20px; }
  .authors-box h4 {
    margin: 0 0 30px; }
  .programs-box h3 {
    font-size: 30px; }
  .programs-box__head {
    min-height: 160px; }
  .programs {
    padding: 80px 0; }
    .programs h2 {
      margin: 0 0 40px; }
  h1 {
    font-size: 110px; }
  .sasts-home__img {
    right: 0; }
  .logo-header {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 0 auto 15px; }
  .quote {
    padding: 50px 0; }
    .quote h3 {
      margin: 0 0 30px;
      font-size: 30px; }
    .quote .box-text {
      font-size: 20px; }
  .authors-photo {
    padding: 100px 0; }
  .authors-photo-two .authors-photo__image {
    margin: 0 auto 30px; }
  .authors-photo-two .authors-photo__content {
    margin: 0;
    max-width: none; }
  .starts {
    padding: 40px 0 60px; }
    .starts h2 {
      font-size: 100px; }
  .images-section {
    padding: 100px 0; }
  .video-section {
    padding: 50px 0 70px; }
  .video-wrapper {
    max-width: none;
    margin: 0 auto 30px; }
  .video-section__content {
    margin: 0; }
    .video-section__content .box-text {
      font-size: 20px;
      margin: 0 0 40px; }
      .video-section__content .box-text h3 {
        font-size: 30px; }
  .authors-photo-three .authors-photo__image {
    margin: 30px auto 0; }
  .authors-photo-three .authors-photo__content {
    max-width: none; }
  .video-fluid {
    padding: 80px 0; }
  .video-fluid__title {
    font-size: 20px;
    padding: 0 20px 20px; }
  .new-section, .happy {
    padding: 80px 0; }
    .new-section h2, .happy h2 {
      font-size: 80px; }
  .new-section__img {
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 30px auto 0; }
  .happy h2 {
    margin: 0 0 50px; }
  .form {
    margin: 30px 0 0; }
  .mail-author {
    font-size: 26px;
    margin: 20px 0 0; }
  .video-episodes {
    max-width: none; }
  .video-episodes-menu {
    margin: 30px 0 0;
    max-width: none; }
  .episodes-menu {
    font-size: 20px; }
  .video-episodes-menu__box {
    margin: 0 0 40px; }
    .video-episodes-menu__box h4 {
      margin: 0 0 20px; }
  .video-episodes__content {
    font-size: 20px; }
    .video-episodes__content h3 {
      font-size: 22px; }
    .video-episodes__content .box-text {
      font-size: 20px; }
  .video-section-four h2 {
    margin: 0 0 40px; }
  .podkasts {
    padding: 60px 0 100px; }
    .podkasts .subtitle {
      font-size: 24px; }
    .podkasts .box-text {
      margin: 40px 0 50px;
      font-size: 20px; }
  .audio-box {
    margin: 0 0 20px; }
  .links-all {
    margin: 40px auto 0;
    font-size: 20px; }
  .kruts {
    padding: 220px 0 80px; }
  .wrapper-lid .subtitle {
    font-size: 22px;
    margin: 0 0 30px; }
  .wrapper-lid .box-text h4 {
    margin: 0;
    font-size: 22px; }
  .kruts-text {
    font-size: 18px;
    margin: 0 0 30px; }
    .kruts-text strong {
      font-size: 22px; }
    .kruts-text p {
      margin: 0 0 20px; }
  .kruts-box {
    font-size: 18px; }
  .wrapper-lid .box-text h4 {
    font-size: 26px; }
  .ziedojumi {
    padding: 100px 0 40px; }
    .ziedojumi .box-text {
      margin: 30px 0; }
  .ziedojumi-box {
    font-size: 18px;
    margin: 0 0 20px; }
    .ziedojumi-box h4 {
      font-size: 24px; }
    .ziedojumi-box:nth-child(even) {
      margin: 0 0 20px auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 930px) {
  .list-social {
    width: 100%;
    margin: 20px auto 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .contacts-box {
    margin: 0 auto 10px; } }

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 30px; }
  .authors {
    padding: 60px 0; }
  .video-box {
    height: 400px; }
  .programs-box__head {
    min-height: auto; }
  .programs-box {
    max-width: none; }
  .programs-box__date {
    font-size: 20px; }
  .programs {
    padding: 50px 0; }
  .home-main {
    padding: 140px 0; }
  .authors-photo__image {
    max-width: 300px;
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 30px auto 0; }
  .authors-photo__content {
    max-width: none; }
    .authors-photo__content h3 {
      font-size: 30px; }
    .authors-photo__content .box-text {
      font-size: 20px; }
  .authors-photo {
    padding: 70px 0; }
  .authors-photo-wrapper {
    padding: 0; }
  .name-photo {
    font-size: 20px;
    margin: 20px 0 40px; }
  .photo-caption {
    font-size: 18px; }
  .photo-caption h3 {
    font-size: 30px; }
  .image-center {
    margin: 0 auto 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
  .main-text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 50px auto 0;
    text-align: center; }
  .home-main {
    padding: 180px 0 140px; }
  h1 {
    font-size: 80px; }
  .starts h2, .happy h2 {
    font-size: 70px; }
  .video-wrapper {
    height: 400px; }
  .new-section h2 {
    font-size: 70px; }
  .callback {
    padding: 50px 0; }
  input, textarea, select {
    font-size: 24px; } }

@media only screen and (max-width: 480px) {
  .menu li {
    margin: 0 20px 0 0; }
  .header-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px; }
  .list-language {
    font-size: 16px; }
  .home {
    padding: 220px 0; }
  h3 {
    font-size: 24px; }
  .programs-box h3 {
    font-size: 28px; }
  footer {
    padding: 30px 0; }
  .main-text {
    font-size: 20px; }
  .home-main {
    padding: 150px 0; }
  h1 {
    font-size: 50px; }
  .sasts-home__img {
    position: relative;
    margin: 20px auto 0;
    bottom: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sasts-home {
    padding: 60px 0 100px; }
  .authors-photo {
    padding: 40px 0; }
  .starts h2, .new-section h2, .happy h2 {
    font-size: 50px; }
  .images-section {
    padding: 40px 0; }
  textarea {
    height: 300px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  .video-box {
    height: 320px; }
  h1 {
    font-size: 30px; }
  .new-section h2, .happy h2 {
    font-size: 40px; } }
