@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1780px)
  .contacts-box, .list-partners li
    margin: 0 30px 0 0

  .video-episodes-menu
    margin: 0 0 0 auto

  .video-episodes
    max-width: 850px

@media only screen and (max-width: 1540px)
  .list-social
    margin: 0 30px 0 0

  .video-wrapper
    max-width: 800px
    margin: 0

  .video-fluid__box
    height: auto

  .authors-photo-sex .authors-photo__image
    max-width: 600px

@media only screen and (max-width: 1480px)
  .contacts-box
    font-size: 16px

  .contacts
    padding: 30px 0

  h1
    font-size: 180px

  .authors-photo-two .authors-photo__content
    margin: 0 0 0 30px
    max-width: 550px

  .authors-photo-three .authors-photo__image
    max-width: 550px

@media only screen and (max-width: 1350px)
  .list-partners li
    max-width: 60px

  .contacts-box
    margin: 0 20px 0 0

  .video-box
    margin: 0 auto 40px

  .authors-box
    margin: 0 auto

  h1
    font-size: 150px

  .authors-photo-four .authors-photo__image
    max-width: 450px

  .new-section h2
    font-size: 100px

  .authors-photo-sex .authors-photo__image
    max-width: 500px

  .happy
    padding: 140px 0

@media only screen and (max-width: 1200px)
  .menu, .list-language
    font-size: 22px

  .list-partners
    width: 100%
    justify-content: space-around
    margin: 20px 0 0

  .contacts-box
    order: -1

  .list-social
    margin: 0 0 0 auto

  .about
    padding: 80px 0

  h2
    font-size: 60px

  .sasts-home
    padding: 80px 0 120px

  .logo-header
    max-width: 200px

  .video-wrapper
    max-width: 600px

  .authors-photo-four .authors-photo__image
    margin: 30px auto 0

  .authors-photo-four .authors-photo__content, .authors-photo-five .authors-photo__content
    max-width: none

  .authors-photo-five .authors-photo__content
    margin: 30px auto 0

  .authors-photo-five .authors-photo__image
    margin: 0 auto

  .new-section, .callback
    padding: 100px 0

  .episodes
    padding: 60px 0

  .video-episodes
    max-width: 650px

@media only screen and (max-width: 1100px)
  .image-group .image-item
    margin: 0 0 10px




/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .header-box
    position: relative
    right: 0
    top: 0
    transform: none
    width: 100%
    order: -1
    justify-content: flex-end
    margin: 0 0 10px

  header
    padding: 20px 0

  .menu, .list-language
    font-size: 18px

  .home
    padding: 280px 0

  .box-text
    font-size: 18px
    p
      margin: 0 0 30px

  h2
    font-size: 40px

  .about
    padding: 60px 0
    .box-text
      margin: 0 0 30px
      max-width: none
      strong
        margin: 0 0 30px
    h2
      margin: 0 0 50px

  .authors
    padding: 80px 0

  .list-authors
    font-size: 20px

  .authors-box h4
    margin: 0 0 30px

  .programs-box h3
    font-size: 30px

  .programs-box__head
    min-height: 160px

  .programs
    padding: 80px 0
    h2
      margin: 0 0 40px

  h1
    font-size: 110px

  .sasts-home__img
    right: 0

  .logo-header
    order: -1
    margin: 0 auto 15px

  .quote
    padding: 50px 0
    h3
      margin: 0 0 30px
      font-size: 30px
    .box-text
      font-size: 20px

  .authors-photo
    padding: 100px 0

  .authors-photo-two .authors-photo__image
    margin: 0 auto 30px

  .authors-photo-two .authors-photo__content
    margin: 0
    max-width: none

  .starts
    padding: 40px 0 60px
    h2
      font-size: 100px

  .images-section
    padding: 100px 0

  .video-section
    padding: 50px 0 70px

  .video-wrapper
    max-width: none
    margin: 0 auto 30px

  .video-section__content
    margin: 0
    .box-text
      font-size: 20px
      margin: 0 0 40px
      h3
        font-size: 30px

  .authors-photo-three .authors-photo__image
    margin: 30px auto 0

  .authors-photo-three .authors-photo__content
    max-width: none

  .video-fluid
    padding: 80px 0

  .video-fluid__title
    font-size: 20px
    padding: 0 20px 20px

  .new-section, .happy
    padding: 80px 0
    h2
      font-size: 80px

  .new-section__img
    position: relative
    right: 0
    top: 0
    bottom: 0
    margin: 30px auto 0

  .happy h2
    margin: 0 0 50px

  .form
    margin: 30px 0 0

  .mail-author
    font-size: 26px
    margin: 20px 0 0

  .video-episodes
    max-width: none

  .video-episodes-menu
    margin: 30px 0 0
    max-width: none

  .episodes-menu
    font-size: 20px

  .video-episodes-menu__box
    margin: 0 0 40px
    h4
      margin: 0 0 20px

  .video-episodes__content
    font-size: 20px
    h3
      font-size: 22px
    .box-text
      font-size: 20px

  .video-section-four h2
    margin: 0 0 40px

  .podkasts
    padding: 60px 0 100px
    .subtitle
      font-size: 24px
    .box-text
      margin: 40px 0 50px
      font-size: 20px

  .audio-box
    margin: 0 0 20px

  .links-all
    margin: 40px auto 0
    font-size: 20px

  .kruts
    padding: 220px 0 80px

  .wrapper-lid
    .subtitle
      font-size: 22px
      margin: 0 0 30px
    .box-text
      h4
        margin: 0
        font-size: 22px

  .kruts-text
    font-size: 18px
    margin: 0 0 30px
    strong
      font-size: 22px
    p
      margin: 0 0 20px

  .kruts-box
    font-size: 18px

  .wrapper-lid .box-text h4
    font-size: 26px

  .ziedojumi
    padding: 100px 0 40px
    .box-text
      margin: 30px 0

  .ziedojumi-box
    font-size: 18px
    margin: 0 0 20px
    h4
      font-size: 24px
    &:nth-child(even)
      margin: 0 0 20px auto

/* Small Devices, Tablets */
@media only screen and (max-width: 930px)
  .list-social
    width: 100%
    margin: 20px auto 0
    justify-content: center

  .contacts-box
    margin: 0 auto 10px

@media only screen and (max-width: 768px)
  h2
    font-size: 30px

  .authors
    padding: 60px 0

  .video-box
    height: 400px

  .programs-box__head
    min-height: auto

  .programs-box
    max-width: none

  .programs-box__date
    font-size: 20px

  .programs
    padding: 50px 0

  .home-main
    padding: 140px 0

  .authors-photo__image
    max-width: 300px
    position: relative
    right: 0
    top: 0
    bottom: 0
    margin: 30px auto 0

  .authors-photo__content
    max-width: none
    h3
      font-size: 30px
    .box-text
      font-size: 20px

  .authors-photo
    padding: 70px 0

  .authors-photo-wrapper
    padding: 0

  .name-photo
    font-size: 20px
    margin: 20px 0 40px

  .photo-caption
    font-size: 18px

  .photo-caption h3
    font-size: 30px

  .image-center
    margin: 0 auto 20px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  .main-text
    order: 1
    margin: 50px auto 0
    text-align: center

  .home-main
    padding: 180px 0 140px

  h1
    font-size: 80px

  .starts, .happy
    h2
      font-size: 70px

  .video-wrapper
    height: 400px

  .new-section h2
    font-size: 70px

  .callback
    padding: 50px 0

  input, textarea, select
    font-size: 24px

@media only screen and (max-width: 480px)
  .menu li
    margin: 0 20px 0 0

  .header-box
    justify-content: center
    margin: 0 0 20px

  .list-language
    font-size: 16px

  .home
    padding: 220px 0

  h3
    font-size: 24px

  .programs-box h3
    font-size: 28px

  footer
    padding: 30px 0

  .main-text
    font-size: 20px

  .home-main
    padding: 150px 0

  h1
    font-size: 50px

  .sasts-home__img
    position: relative
    margin: 20px auto 0
    bottom: 0
    justify-content: center

  .sasts-home
    padding: 60px 0 100px

  .authors-photo
    padding: 40px 0

  .starts h2, .new-section h2, .happy h2
    font-size: 50px

  .images-section
    padding: 40px 0

  textarea
    height: 300px

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px)
  .video-box
    height: 320px

  h1
    font-size: 30px

  .new-section h2, .happy h2
    font-size: 40px

